.container {
  display: flex;
  flex-direction: row;

  .text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }

  .table-area {
    padding: 0 20px;
    width: 50%;
  }

}

nz-select {
  width: 100%
}

.preview-box {
  border: 1pt solid black;
  width: 100%;
  height: 140px;
}

.unicode-buttons-group {
  display: flex;

  button {
    margin-right: 10px;
  }
}
